.Board {
  height: 0;
  padding-top: 100%;
  position: relative;

  &.is-gameover {
    @include themevar(color, 'game-over-color');
  }

  &-grid {
    @include themevar(background, 'grid-line-color');
    @include themevar(border-color, 'grid-line-color');
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    justify-items: stretch;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
