.GameState {
  background-color: $contrast-color;
  color: $main-forecolor;
  padding: 1rem 0;

  &.is-playerOne {
    color: $player-one-color;
  }

  &.is-playerTwo {
    color: $player-two-color;
  }

  &.is-winner {
    color: $winner-color;
  }

  &.is-draw {
    color: $draw-color;
  }
}
