.HistoryList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.HistoryEntry {
  @include themevar(background, 'contrast-color');
  cursor: pointer;
  margin-bottom: 0.5rem;

  &:hover {
    @include themevar(background, 'accent-color');
  }

  &.is-selected {
    @include themevar(background, 'accent-color');
    cursor: default;
  }

  &-button {
    @extend %button-base;
    background: transparent;
    border: 0;
    width: 100%;
  }
}
