.Square {
  @include themevar(background-color, 'main-bkg-color');
  @include themevar(font-family, 'text-font');
  @include themevar(outline-color, 'outline-color');
  border: 0;
  font-size: 3.2em;
  font-weight: bold;

  &.is-playerOne {
    @include themevar(color, 'player-one-color');
  }

  &.is-playerTwo {
    @include themevar(color, 'player-two-color');
  }

  .Board.is-gameover & {
    @include themevar(color, 'game-over-color');
    outline: none;
  }

  .Board.is-gameover &.is-winner {
    @include themevar(background-color, 'winner-color');
    @include themevar(color, 'winner-forecolor');
  }
}
