$background-color: #313347 !default;
$contrast-color: #2c2e46 !default;
$accent-color: #3e4271 !default;
$main-forecolor: #fff !default;
$grid-line-color: #45495b !default;

$button-color: #2c2e46 !default;
$button-border-color: #8689a2 !default;
$button-hover-color: #20223a !default;
$outline-color: #4d90fe !default;

$player-one-color: #edc84c !default;
$player-two-color: #f44455 !default;
$game-over-color: #575966 !default;
$winner-color: #0cc2aa !default;
$winner-forecolor: #fff !default;
$draw-color: #ddd !default;

$text-font: 'Nunito', sans-serif !default;
$game-width: 350px !default;
