body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.board-wrap {
  text-align: center;
  margin-top: 50px;
}

.board {
  display: inline-block;
  margin: auto;
  border: 1px solid #888;
}

.square {
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #888;
  font-size: 1.4em;
  font-weight: bold;
  outline: none;
  box-sizing: border-box;
}

.square.winner {
  background-color: rgb(168, 240, 179);
}

.square:nth-child(3n) + .square {
  clear: both;
}

.message {
  margin: auto;
  background-color: #eee;
  padding: 10px;
  width: 212px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

div.history {
  width: 250px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

div.history ul {
  list-style: none;
  padding: 0;
}

div.history ul li {
  background: #eee;
  margin-bottom: 5px;
  cursor: pointer;
}

div.history ul li:hover {
  background: #ddd;
}

div.history ul li.selected {
  background: rgb(69, 120, 214);
  cursor: default;
}

div.history ul li button {
  border: none;
  width: 100%;
  background: transparent;
  padding: 5px 10px;
}
