.u-marginBottom {
  margin-bottom: 1rem !important;
}

.u-sizeFill {
  width: 100% !important;
}

%control-base {
  @include themevar(color, 'main-forecolor');
  @include themevar(font-family, 'text-font');
  @include themevar (outline-color, 'outline-color');
  font-size: 1em;
}

%button-base {
  @extend %control-base;
  cursor: pointer;
  padding: 0.6rem;
}
